
header{
    font-size: 150px;
}
body{
    background-color: black;
    color: whitesmoke;
    text-align: center;
}
.gameboard{
    display: flex;
}
#startBtn{
    background-color: gainsboro;
    width: 10vh;
    height: 5vh;  
}

#yellow{
    background-color: gold;
    width: 40vh;
    height: 20vh;
}
#blue{
    background-color: blue;
    width: 40vh;
    height: 20vh;
}
#green{
    background-color: green;
    width: 40vh;
    height: 20vh;
}
#red{
    background-color: red;
    width: 40vh;
    height: 20vh;
}