
header{
    font-size: 150px;
}
body{
    background-color: black;
    color: whitesmoke
}
.gameboard{
    display: flex;
}

#yellow{
    background-color: gold;
    width: 40vh;
    height: 20vh;
}
#blue{
    background-color: blue;
    width: 40vh;
    height: 20vh;
}
#green{
    background-color: green;
    width: 40vh;
    height: 20vh;
}
#red{
    background-color: red;
    width: 40vh;
    height: 20vh;
}